<section class="ui raised segment">
    <div class="ui grid">
        <div class="ui form six wide column">
            <div class="ui segment">
                <form action="/newPharmacy" method="POST">
                    <div class="field">
                        <div class="text" name="name">
                            <div class="text">Add new pharmacy</div>
                            <input type="text" name ="name" placeholder="Name">
                            <div class="ui input"></div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="text" name="description"></div>
                        <div class="text">Description</div>
                        <div class="ui form">
                            <input type="text" name="description" placeholder="Describe location">
                        </div>
                    </div>
                    <button class="ui blue submit button">Submit</button>
                </form>
            </div>
        </div>
        <aside class="six wide column">
            <img src="images/happy-pregnant-woman.jpg" class="ui big image">
        </aside>
    </div>
</section>