{{> welcomemenu }}

<section class="ui stacked segment">
    <div class="ui grid">
        <aside class="six wide column">
            <img src="images/pharmacy.jpeg" class="ui medium image">
        </aside>
        <article class="ten wide column">
            <header class="ui  header"> Find pharmacy </header>
            <p> Local pharmacy POI </p>
            {{> error }}
        </article>
    </div>
</section>